.ui-sortable-placeholder{
  border: 1px dotted black;
  visibility: visible !important;
  height: 30px !important;
}

ul.blocks>li{
  float:left;
  margin: 20px;
}

ul.blocks{
  height: 80px;
  overflow-y: scroll;
}

.column{
  border: 1px dotted red;
}

.column {
  border: 1px solid #DDDDDD;
  margin: 15px 0;
  /* padding: 39px 19px 24px; */
  padding: 5px;
  min-height: 100px !important;
}
